@font-face {
	font-family: "BootsAndSpurs";
	src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}
#header {
	background-image: url("../images/home-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h1,
h2,
h3 {
	font-family: BootsAndSpurs, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	font-family: "Roboto", sans-serif;
}
footer {
	background-color: #202020;
	color: #fff;
}
a {
	background-color: #bb0000;
	border-radius: 5px;
}
#active {
	background-color: #127300;
}
.review {
	background-color: #e8e8e8;
}
.gitarList {
	background-color: #fbfbfb;
}
footer {
	text-align: center;
}
.img-our-gitar {
	border-radius: 5%;
}
.img-review {
	border-radius: 100%;
}
.active {
	text-decoration: underline;
}
ul {
	padding: 0px;
}
li {
	display: inline;
}
nav a {
	padding: 10px;
	background-color: #202020;
	border-radius: 0px;
	color: #fff;
}
nav {
	display: none;
}
#hamburger-menu {
	display: none;
}
#hamburger-menu:checked ~ nav {
	display: block;
}
#hamburger-label {
	float: right;
	color: #202020;
	padding: 10px;
	font-size: 1.5em;
	display: block;
}
