@font-face {
	font-family: "BootsAndSpurs";
	src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}
header {
	background-color: #202020;
	color: #fff;
	display: flex;
	align-items: center;
}
nav {
	margin-left: 25px;
}
.welcome {
	background-image: url("../images/home-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	min-height: 70vh;
}
.welcome-content {
	float: left;
	position: relative;
	top: 100px;
	left: 300px;
	text-align: center;
}

.highlight {
	text-decoration: underline;
}
h1,
h2,
h3 {
	font-family: BootsAndSpurs, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}
footer {
	background-color: #202020;
	color: #fff;
}
div a {
	background-color: #bb0000;
	border-radius: 5px;
	text-decoration: none;
}
#active {
	background-color: #127300;
}
.product {
	background-color: #fbfbfb;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}
.product img {
	grid-column: -1/1;
}
.productn h3,
.product p {
	grid-column: 1;
}

footer {
	text-align: center;
}
.img-our-gitar {
	border-radius: 5%;
	width: 500px;
}
.img-review {
	border-radius: 100%;
	width: 80px;
	float: right;
}
nav ul {
	padding: 0;
	text-decoration: none;
}

nav li a {
	color: #fff;
}

/* links */
a {
	text-decoration: none;
}
nav ul li a {
	padding: 0px 10px 0px;
}
.cta {
	background-color: #bb0000;
	color: #fff;
	border-radius: 5px;
	padding: 20px 100px;
	text-transform: uppercase;
	display: block;
	width: 95.767px;
	margin: auto;
}
.cta-small {
	background-color: #bb0000;
	color: #fff;
	border-radius: 5px;
	padding: 8px 15px;
	text-transform: uppercase;
	grid-column: 2;
	grid-row: 2/4;
	min-width: 64.0167px;
	text-align: center;
}
.selling-point {
	margin: 50px auto;
}

.selling-point,
.review-content {
	max-width: 1000px;
	display: flex;
}
.selling-point > *,
.review-content > * {
	flex: 1;
}
.review {
	background-color: #e8e8e8;
	text-align: center;
	padding: 50px;
}
.review-content {
	text-align: left;
	margin: auto;
}
.reviews_name {
	display: block;
}
.review-content div {
	margin: 50px;
}
/* product specific page */
.product-specific {
	display: flex;
	max-width: 1000px;
	margin: 5em auto;
}
.product-specific > * {
	flex: 1;
}
.product-image {
	width: 100%;
}
.product-image__thumbnail {
	display: flex;
	gap: 10px;
	margin-top: 5px;
}
.product-specific__text {
	padding: 0 30px;
}
.product-specific__price {
	font-size: 1.5em;
}
/* contact */
input,
select,
textarea {
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	margin: 10px 10px 10px 0;
	padding: 10px;
	height: ;
}
textarea {
	height: 100%;
}
.contact {
	max-width: 1000px;
	margin: auto;
	text-align: center;
}
.form {
	display: flex;
	text-align: left;
}
.form > * {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.featured {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 1000px;
	margin: 50px auto;
	grid-gap: 10px;
}
.featured h3 {
	grid-column: -1/1;
	grid-row: 2;
	font-family: "Roboto", sans-serif;
	margin: 5px;
}
.featured img {
	width: 100%;
}
<<<<<<< HEAD

/* gitars-page */
.gitars-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.product img {
	width: 100%;
}
.gitars {
	max-width: 1000px;
	margin: auto;
}

/* mobile styles */
@media (max-width: 375px) {
	/* hamburger menu */

}

/* tablet styles
@media (max-width: 375px) {
}

/* desktop styles */
/* @media (min-width: 768) {
	nav li {
		display: inline-block;
	}
} */ 
=======
>>>>>>> parent of 6e1106c... added grides on to footer and gitars page
