@font-face {
	font-family: "BootsAndSpurs";
	src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}
header {
	background-color: #202020;
	color: #fff;
}
.welcome {
	background-image: url("../images/home-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	min-height: 70vh;
}
.highlight {
	text-decoration: underline;
}
h1,
h2,
h3 {
	font-family: BootsAndSpurs, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	font-family: "Roboto", sans-serif;
}
footer {
	background-color: #202020;
	color: #fff;
}
div a {
	background-color: #bb0000;
	border-radius: 5px;
	text-decoration: none;
}
#active {
	background-color: #127300;
}
.review {
	background-color: #e8e8e8;
}
.gitarList {
	background-color: #fbfbfb;
}
footer {
	text-align: center;
}
.img-our-gitar {
	border-radius: 5%;
}
.img-review {
	border-radius: 100%;
}
nav ul {
	padding: 0px;
}
nav li {
	display: inline-block;
}
nav li a {
	color: #fff;
}
/* links */
a {
	text-decoration: none;
}
